/* Responsive Styles for Dropdown Navigation */
#hamburger-menu {
  display: none; /* Hide by default */
}

#hamburger-menu.open {
  display: block; /* Show when "open" class is added */
}

@media (max-width: 1200px) {
  #desktop-nav {
    display: none; /* Hide the desktop nav on small screens */
  }

  #drop-nav {
    display: flex; /* Show the drop nav on small screens */
  }

  .menu-links {
    display: none; /* Initially hide the dropdown menu */
  }

  .menu-links.open {
    display: block; /* Show the dropdown when open */
  }

  #hamburger-nav {
    display: flex; /* Ensure hamburger menu is shown on mobile screens */
  }

  #projects {
    padding: 3rem;
  }

  .portfolio-item {
    padding: 1rem;
    transform: scale(1);
  }

  .portfolio-image img {
    width: 100%;
  }

  .portfolio-info h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .animated-text {
    font-size: 2em;
    font-family: fantasy;
    color: #678e1d;
  }
}

@media screen and (max-width: 900px) {
  .portfolio-image img {
    width: 90%;
  }
}

@media screen and (max-width: 765px) {
  .portfolio-info p,
  .portfolio-details {
    font-size: 0.8rem;
  }

  .portfolio-image img {
    width: 85%;
  }
}

@media (min-width: 601px) {
  .extra-details {
    display: block; /* Show details by default */
  }

  .arrow-toggle {
    display: none; /* Hide arrow on larger screens */
  }
}

@media screen and (max-width: 600px) {
  .progress-label {
    font-size: 14px;
  }

  .icon1 {
    height: 2rem;
    width: auto;
  }

  .icon-container p {
    margin-top: 2vh;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
  }

  .hamburger-button {
    margin-left: 6rem;
    width: 35px;
    height: 35px;
  }

  .hamburger-lines {
    width: 13px;
    height: 3px;
  }

  .hamburger-lines::before, .hamburger-lines::after {
    width: 13px;
    height: 3px;
  }

  #contact {
    height: fit-content;
    display: block;
  }

  footer {
    height: 5vh;
    justify-content: center;
  }

  .animated-text {
    font-size: 1.75em;
    font-family: fantasy;
    color: #678e1d;
  }

  #profile {
    height: fit-content;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .my-logo {
    height: 2rem;
    width: 5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: 250px;
    height: auto;
    justify-content: center;
    display: block;
  }
  .section__pic-container img {
    width: 200px;
    height: 190px;

  }

  .section__text__p2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
 


  .title {
    font-size: 2rem;
  }

  .text-container, details p {
    text-align: justify;
  }

  .section-container {
    display: block;
  }

  #about {
    padding: 1rem;
  }

  .portfolio-item {
    display: grid;
    padding: 1rem;
  }

  .portfolio-info p,
  .portfolio-details {
    font-size: 1rem;
  }

  .extra-details {
    display: none;
  }

  .extra-details strong {
    color: #678e1d;
  }

  .arrow-toggle {
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
    color: #7dae21;
    align-self: flex-start;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    transition: transform 0.3s ease;
  }

  .portfolio-item.expand .extra-details {
    display: block;
  }

  .portfolio-item.expand .arrow-toggle {
    transform: rotate(180deg);
  }

  .contact-form-container {
    flex-direction: column;
    padding: 1rem;
  }

  .form-left {
    padding: 2rem;
  }

  .title1 {
    font-size: 2rem;
    margin-bottom: 3vh;
  }

  h2 {
    font-size: 1.25rem;
  }

  label, .contact-info p {
    font-size: 0.85rem;
  }

  .send-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

/* Styling for screens between 600px and 1200px */
@media (min-width: 600px) and (max-width: 1200px) {
  .portfolio-section {
    display: grid;
    grid-template-areas: 
      "name"
      "image"
      "field";
    grid-template-rows: auto auto auto;
  }

  .name {
    grid-area: name;
  }

  .section__pic-container {
    grid-area: image;
  }

  .field {
    grid-area: field;
  }

  .portfolio-info h2 {
    font-size: 1.2rem;
  }
}
